
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #686de0;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.container {
  position: absolute;
  max-width: 800px;
  width: 90%;
  height: 58vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

h2 {
  position: absolute;
  top: 20px;
  font-weight: 700;
  font-size: 18.72px;
  color: #979797;
}

.joke {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  font-size: 30px;
  font-weight: 400;
  color: black;
  text-align: center;
}

.btn {
  position: absolute;
  bottom: 40px;
  background-color: #9f68e0;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  color: white;
}
