@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
}

.main {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: #333333;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  z-index: -3;
}

.container {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  transform-origin: top left;
  transition: transform 0.5s linear;
  -webkit-transition: transform 0.5s linear;
  -moz-transition: transform 0.5s linear;
  -ms-transition: transform 0.5s linear;
  -o-transition: transform 0.5s linear;
}

.show-nav {
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
}
.nav {
  position: absolute;

  max-width: 200px;
  width: 180px;
  height: 180px;
  background-color: #ff7979;
  top: -90px;
  left: -90px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}
.show-nav .nav {
  transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  -moz-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
}

.nav-open {
  position: inherit;
  right: 40px;
  bottom: 30px;
}

.nav-close {
  position: inherit;
  left: 50px;
  bottom: 30px;
  transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transition: transform 0.9s ease;
  -webkit-transition: transform 0.9s ease;
  -moz-transition: transform 0.9s ease;
  -ms-transition: transform 0.9s ease;
  -o-transition: transform 0.9s ease;
}

.nav-open i,
.nav-close i {
  font-size: 28px;
  font-weight: 800;
  color: white;
  transition: all 1.9s ease;
  -webkit-transition: all 1.9s ease;
  -moz-transition: all 1.9s ease;
  -ms-transition: all 1.9s ease;
  -o-transition: all 1.9s ease;
}

.content {
  position: relative;
  width: 71%;
  height: 100%;
}

.article h1 {
  color: #222222;
  font-size: 32px;
  font-weight: 700;
}

.article small {
  color: #555555;
}

.text {
  margin-top: 20px;
}

.text p {
  color: #333333;
  font-weight: 400;
  line-height: 23px;
  text-align: justify;
}

.img-div {
  margin-top: 20px;
}

.img-div h2 {
  font-size: 18.72px;
  font-weight: 700;
  color: #222222;
}

.img-div .img {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1507146426996-ef05306b995a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;
}

.footer {
  position: fixed;
  bottom: 30px;
  left: 20;
  color: rgb(156, 22, 22);
  z-index: -1;
}

.footer a {
  font-size: 20px;
  color: white;
}
